@tailwind base;
@tailwind components;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
}
.buttonShadow {
  box-shadow: 0 0 5px rgb(163, 159, 159);
}
.info {
  @apply text-xl font-bold;
}
.spanStyle {
  @apply font-normal;
}
.imgWidth {
  max-width: 34.375rem;
}
@tailwind utilities;
